body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
}

body>div {
    font-size: 24pt;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -2em;
}

body>a {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    font-size: 20pt;
    font-weight: bold;
    padding: 1em 2em;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 3em;
}